.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header__container,
.features__container,
.review__container,
.price__container,
.download__container,
.footer__content {
    width: 92%;
}

.header {
    padding-bottom: 5rem;
}

.header__btn {
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.header__btn:hover {
    background-color: #fff;
    color: #0281F5;
}

.header__container {
    padding: 4% 0 0;
}

.header__content {
    margin-top: 13%;
}

.header__description {
    font-size: 1.6rem;
}

.header__menu {
    background-color: transparent;
    padding: 5rem 1.5rem;
    position: static;
}

.header__picture {
    transform: translateY(13%);
}

.header__title {
    font-size: 4.5rem;
}

.menu__btn {
    background-color: #41B3FA;
    display: inline;
    font-size: 1.4rem;
    letter-spacing: normal;
    padding: 1rem 1.5rem;
    transition: background-color 0.4s ease-out;
}

.menu__btn:hover {
    background-color: #0467c4;
}

.menu__icon {
    display: none;
}

.menu__item {
    margin-right: 2.5rem;
    position: relative;
}

.menu__item--no-margin {
    margin-right: 0;
}

.menu__item::before {
    background: #FFF;
    border-radius: 2px;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    top: -.5rem;
    transition: width 0.4s ease-out, left 0.4s ease-out;
    width: 0;
}

.menu__item:hover::before {
    left: 0;
    width: 100%;
}

.menu__item--level2 {
    margin-left: 0;
    position: relative;
    width: auto;
}

.menu__item--level2::before {
    content: none;
}

.menu__item--with-children {
    position: relative;
}

.menu__item--with-children::after {
    content: '>';
    font-size: 1rem;
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.menu__level2 {
    display: none;
    background: #41B3FA;
    left: -2rem;
    margin-top: 2.5rem;
    position: absolute;
    min-width: 150px;
    padding: 1rem 2rem;
}

.menu__item--with-children:hover .menu__level2 {
    display: block;
}

.menu__list {
    background-color: transparent;
    flex-direction: row;
    padding: 0;
    position: static;
    transform: translateX(0);
}

.details {
    margin: 12rem auto;
}

.details__container {
    width: 85%;
}

.details__description {
    width: 90%;
}

.details__item {
    flex-basis: unset;
    flex-grow: unset;
    width: 25%;
}

.details__list {
    justify-content: space-between;
}

.details__title {
    font-size: 4.2rem;
    line-height: 1.5;
    width: 40%;
}

.features {
    margin-bottom: 8rem;
}

.features__btn {
    border: 2px solid transparent;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.features__btn:hover {
    background-color: #fff;
    border: 2px solid #0281F5;
    color: #0281F5;
}

.review {
    padding: 12rem 0;
}

.review__title {
    width: 25%;
}

.price {
    margin-bottom: 10rem;
    margin-top: 8rem;
}

.price__btn {
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.price__btn:hover {
    background-color: #6CB7FF;
    color: #fff;
}

.price__plan {
    transition: box-shadow 0.4s ease-out;
}

.price__plan:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.download__container {
    flex-direction: row;
    justify-content: space-between;
}

.download__list {
    flex-wrap: nowrap;
}

.download__title {
    text-align: left;
    width: 40%;
}

.footer__author:hover {
    color: lightblue;
}

.footer__content {
    gap: 5rem;
    padding: 10rem 0 14rem 0;
}

.footer__link {
    transition: color 0.4s ease-out;
}

.footer__link:hover {
    color: #fff;
}

.footer__title {
    margin-top: 0;
}

.footer__wrapper {
    align-items: flex-start;
    display: flex;
    gap: 4rem;
}

.footer__wrapper--1col {
    flex-basis: auto;
    gap: 0;
}

.social__icon {
    border: 1px solid transparent;
    transition: color 0.4s ease-out, border 0.4s ease-out;
}

.social__icon:hover {
    color: #fff;
    border: 1px solid #fff;
}