:root {
    --author-col-1: #3e7ca8;
    --basic-black: #000;
    --basic-grey: #9ba5ac;
    --basic-white: #fff;
    --download-bg: #5cb2ff;
    --features-btn-1bg: #0281f5;
    --footer-bg: #1F1F1F;
    --header-btn-1bg: #35ebed;
    --icon1-bg: #1a8ef8;
    --icon2-bg: #fd915e;
    --icon3-bg: #37ef8d;
    --menu-btn-1bg: #41B3FA;
    --menu-btn-hover: #0467c4;
    --nav-bg: #2c2c2c;
    --price-btn: #6cb7ff;
    --price1-bg: #E9F4FE;
    --price1: #329BF9;
    --price2-bg: #FEF4EE;
    --price3-bg: #E8FCF1;
    --price3: #48d6d8;
    --review-bg-gradient: linear-gradient(180deg, rgba(102, 180, 250, 0.9066001400560224) 100%, rgba(16, 140, 201, 0) 100%);
    --social-icon-bg: #565656;
    --stars-bg: #ffd359;
}

html {
    box-sizing: border-box;
    font: 62.5% "Poppins", sans-serif;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

.menu__checkbox {
    display: none;
}

.btn {
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 1.6rem 4rem;
    text-align: center;
}

.menu__item {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.6rem;
}

.menu__item--level2 {
    text-transform: none;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
}

.header__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.details__icon {
    border-radius: 2.5rem;
    padding: 6.5rem;
}

.details__icon--blue {
    background: var(--icon1-bg) url("../images/icons/2.svg") no-repeat center center;
}

.details__icon--orange {
    background: var(--icon2-bg) url("../images/icons/1.svg") no-repeat center center;
}

.details__icon--green {
    background: var(--icon3-bg) url("../images/icons/3.svg") no-repeat center center;
}

.features__description {
    color: var(--basic-grey);
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 6rem;
}

.features__img {
    max-width: 100%;
}

.review__author {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.review__footer {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.review__rating {
    align-items: center;
    color: var(--stars-bg);
    display: flex;
    gap: 0.3rem;
    justify-content: center;
}

.review__text {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2;
}

.price__amount {
    font-weight: 700;
}

.price__amount, .price__name {
    margin: 0;
}

.price__amount--blue {
    color: var(--price1);
}

.price__amount--green {
    color: var(--price3);
}

.price__amount--orange {
    color: var(--icon2-bg);
}

.price__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.price__header--blue {
    background: var(--price1-bg);
}

.price__header--green {
    background: var(--price3-bg);
}

.price__header--orange {
    background: var(--price2-bg);
}

.price__title {
    margin-bottom: 1rem;
}

.footer {
    background: var(--footer-bg);
}

.footer__copyright {
    background: var(--basic-black);
    color: var(--basic-grey);
    font-size: 1.2rem;
    padding: 3rem 1rem;
    text-align: center;
}