.header {
    background-position: bottom left;
}

.header__btn {
    padding: 1.6rem 3rem;
}

.header__container {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    padding: 10% 0 0;
    margin: 0 auto;
    width: 80%;
}

.header__content {
    margin-top: 5%;
}

.header__description {
    font-size: 2.2rem;
    line-height: 1.15;
    margin-bottom: 6rem;
}

.header__menu {
    max-height: 5rem;
    padding: 1rem 3rem;
}

.header__picture {
    margin-right: 0;
    transform: translateY(8%);
}

.details {
    margin-top: 10rem;
}

.details__container {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.details__description {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 3rem;
    text-align: center;
    width: 80%;
}

.details__list {
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5rem;
}

.details__title {
    font-size: 3.2rem;
    width: 45%;
}

.details__icon {
    padding: 5.5rem;
}

.details__item {
    flex-grow: 1;
    flex-basis: 0;
}
