.header {
    background-position: bottom left;
}

.header__btn {
    padding: 1.6rem 3rem;
}

.header__container {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    padding: 10% 0 0;
    margin: 0 auto;
    width: 80%;
}

.header__content {
    margin-top: 5%;
}

.header__description {
    font-size: 2.2rem;
    line-height: 1.15;
    margin-bottom: 6rem;
}

.header__menu {
    max-height: 5rem;
    padding: 1rem 3rem;
}

.header__picture {
    margin-right: 0;
    transform: translateY(8%);
}

.details {
    margin: 10rem 0 4rem 0;
}

.details__container {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.details__description {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 3rem;
    text-align: center;
    width: 80%;
}

.details__list {
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5rem;
}

.details__title {
    font-size: 3.2rem;
    width: 45%;
}

.details__icon {
    padding: 5.5rem;
}

.details__item {
    flex-grow: 1;
    flex-basis: 0;
}

.features {
    margin-bottom: 8rem;
}

.features__container {
    flex-direction: row;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.features__content,
.features__picture {
    flex-grow: 1;
    flex-basis: 0;
}

.features__title {
    text-align: left;
    width: 80%;
    font-size: 3.2rem;
}

.features__btn {
    padding: 1.6rem 3rem;
}

.review {
    padding: 8rem 0;
}

.review__container {
    margin: 0 auto;
    width: 80%;
}

.review__title {
    font-size: 3.2rem;
    margin-bottom: 5rem;
    width: 45%;
}

.price {
    margin: 8rem 0 10rem;
}

.price__container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.price__description {
    margin-bottom: 4rem;
}

.price__details {
    margin: 3.5rem 1rem 5rem;
}

.price__list {
    align-items: center;
    flex-direction: row;
    gap: 0;
}

.download {
    padding: 6rem 0;
}

.download__container {
    margin: 0 auto;
    width: 80%;
}

.download__title {
    font-size: 3.2rem;
    width: 100%;
}

.footer__content {
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    padding: 8rem 0;
    width: 80%;
}

.footer__text {
    margin-bottom: 5rem;
}

.footer__title--no-margin {
    margin-top: 0;
}

.footer__wrapper--1col {
    flex-basis: 50%;
}